@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Five9 API Demos</h1>
    <p class="lead">
        Five9 provides a number of applications, integrations, and interfaces “Out of the Box” that provide functionality and control to support a wide array of Call Center configurations. <br/><br/>
        Many customizations and integrations can be done using the included Call Connector Module, Query Module, and other included IVR modules. In addition, FIVE9 offers several API’s that allow Customers to build applications and integrations to suite their custom needs.<br /><br />
        The Introduction to API’s training provides attendees with an overview of each API available from Five9 and typical use cases for each. In this training you will see real-world examples of how Five9 API’s can be used to extend the functionality of Five9 within the Call Center.
    </p>
    <p><a href="http://www.five9.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



</div>

